@model CarRentalApp.Models.SuperCarEntities
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Car Rentail System </h1>

</div>
<img src="~/image/images (4).jpg" class="img-class" />
<samp><spam></spam></samp>
<img src="~/image/download (1).jpg"class="img-class" />

